<%-include('header')-%>

<div class="text-center mt-5" id = "login">
    <h2>My Idols</h2>
    <img src="/assets/idolNghia1.jpg" alt="idol Nghĩa" width="500" height="250">
    <h3>Idol Nghĩa</h3>
    <img src="/assets/idolNam3.jpg" alt="idol Nam" width="500" height="500">
    <img src="/assets/idolNam1.jpg" alt="idol Nam" width="500" height="500">
    <img src="/assets/IdolNam2.jpg" alt="idol Nam">
    <h3>Idol Nam</h3>
    <img src="/assets/idolDuc.jpg" alt="idol Đức" width="350" height="500">
    <img src="/assets/idol Duc.jpg" alt="idol Đức" width="500" height="500">
    <h3>Idol Đức</h3>
    <h2>FIA{gi@ng_s4y_hi_to_1d0ls}</h2>
</div>

<%-include('footer')-%>